a
{
	color: black;
	display: block;
}
a:hover 
{
	color: ;
}
a:link
{
	display: block;

}
body 
{
	background: white;
	font-style: 14px;
}
#Top
{
	background: black;
	width: 100%;
	font-size: 0.7857em;
	border-bottom: 0 solid #ededed;
	color: white;
}
.top-1
{
	padding: 3px;
}
.top-left
{
	text-align: left;
}
.top-left>img 
{
	padding-right: 5px;
}
.mangxahoi
{
	float: left;
	text-align: left;
}
.mangxahoi ul
{
	list-style: none;
	list-style-type: none;
}
.mangxahoi li
{
	display: inline-block;
}
#Top-2
{
	background-color: white;
	font-variant:small-caps;
}
#Top-2 ul
{
	list-style: none;
	display: block;
	list-style-type: none;
	position: relative;
}
#Top-2 .col-md-6
{
	color: blue;
	font-size: 14px;
	text-align: right;
}
#Top-2 .menu li
{
	display: inline-block;
}
#Banner
{
	background: black;
	padding-bottom: 5px;
	color: white;
}
.Gioi-thieu
{
}
.Gioi-thieu .mo-ta
{
	padding-left: 50px;
}
.Gioi-thieu .hinh-gioi-thieu
{
	float: right;
	text-align: right;
}