body {
      
}
a
{
	text-decoration: none;
}
#Top
{
	background: #f7e23b;
}
#menu ul 
{
	padding-top: 10px;
  	list-style-type: none;
  	text-align: center;
  	float: right;
}
#menu li 
{
  	color: #f1f1f1;
  	display: inline-block;
  	padding: 15px;
  	height: 5px;
  	line-height: 40px;
  	margin-left: -5px;
}
#menu li {
 	position: relative;
}
#menu a {
  	text-decoration: none;
	color: black;
	display: block;
}
#menu a:hover 
{
	color: #333;
	border-bottom: black solid 2px;
}
#Banner img
{
	width: 100%;
}
.mo-ta
{
	margin-bottom: 120px;
}
.mo-ta a,p
{
	color: rgb(24, 37, 170);
	margin-top: 6px;
	text-align: center;
	text-decoration: none;
}
.mo-ta h2
{
	text-align: center;
	padding: 30px;
}
.mo-ta p
{
	font-size: 18px;
    color: #1825aa;
    line-height: 1.5;
    margin-bottom: 35px;
}
#Footer
{
	background-position: left top;
}
#Footer
{
	background-color: #ffffff;
}
.bot
{
	margin-top: 50px;
	color: rgb(24, 37, 170);
}
.cot-1
{
}
.cot-1 p
{
	color: black;
	text-align: left;
	display: block;
	font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0px;
    padding-right: 10px;
    padding-left: 10px;
    color: rgb(24, 37, 170);
}
.cot-2
{
}
.cot-2 ul
{
	list-style-type: none;
  	text-align: right;
  	padding-right: 5px;
}
.cot-2 h4
{
	text-align: right;
	font-size: 21px;
    line-height: 25px;
    letter-spacing: 0px;
}
.cot-3 iframe
{
	float: right;
}
.hinh-1
{
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: left;
	bottom: 60%;
}
.hinh-1 a
{
	text-decoration: none;
}
.hinh-1 a:hover
{
	text-decoration: none;
	color: #1825aa;
}
.boderh1
{
	border: #1825aa solid 1px;
	color: #1825aa;
	padding: 5px 30px 10px 30px;
	float: left;
	margin: 5px; 
}
.hinh-2
{
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	bottom: 70%;
}